<h1>Create a new artist</h1>


<form action="/artists" method="POST">
  <p>Name<input type="text" name="name"></p>
  <p>Age<input type="text" name="age"></p>
  <p>Bio<input type="text" name="bio"></p>

  <input type="Submit">
</form>
